body,
html {
	width: 100%;
	height: 100%; 
}

body {
	font-family: 'Montserrat', sans-serif;
}

header.startup {
	background-position:center;
	background-image: url("office.jpg");
	background-size:cover;
	height:100%;
}
.flame{
	 color: rgba(255, 255, 255, 0.8); 
}


header.startup hr{
	margin-top: 200px;
	margin-bottom: 30px; 
}

header.startup h1 {
	font-size: 2rem; 
}

hr{
	border-width: 3px;
	border-color: #061539; 
	max-width: 80px;
}

.btn{
	border-radius: 300px;
	font-weight: 700;
	font-size:20px;
	font-family: 'Montserrat', sans-serif;
}
.btn{
	background-color:#12073B;
	border-color:#12073B;
	padding: 1rem 2rem; 
}


.btn:hover{
	border-width:6px;
	cursor:pointer;
}